@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Zen+Kaku+Gothic+New:wght@900&family=Zen+Kurenaido&display=swap');

body {
  -webkit-font-smoothing: antialiased;
}

.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  height:100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-screen {
  margin: auto;
}

.AnswerAvatar {
  border-radius: 50%;
}

.AnswerName {
  text-align: center;
}