@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Zen+Kaku+Gothic+New:wght@900&family=Zen+Kurenaido&display=swap');

// current palette: https://coolors.co/50514f-f25f5c-ffe066-247ba0-70c1b3

body {
  margin: 0;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #FFFFEA;
  display: flex;
  flex: 1;
  flex-direction: column;
  height:100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #00CECB;
  margin: 0;
}

.App-screen {
  margin: auto;
}

.MainText {
  color: #00CECB;
  display: inline;
  margin-right: 8px;
  font-size: 2em;
}

/***************
 * Right Arrow
 ***************/

.arrow-wrapper {
  display: flex;
  align-items: center;
}

.arrow {
  $size: 1.5em;
  $width: 2.5px;

  cursor: pointer;
  display: block;
  width: $size / 1.414;
  height: $size / 1.414 * 2;
  position: relative;
  
  & span,
  &:before,
  &:after {
    background: #00CECB;
    content: '';
    display: block;
    width: $size;
    height: $width;
    position: absolute;
    top: calc(50% - (#{$width} / 2));
  }
    
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
  
  & span {
    width: 0;
  }
  &:hover span {
    width: $size * 1.414;
  }
  
  @each $direction in 'left' 'right' {
    &.arrow--#{$direction} {
      & span,
      &:before,
      &:after {
        #{$direction}: 0;
        transform-origin: #{$direction} 50%;
      }

      &:before,
      &:after {
        transition: #{$direction} 0.3s 0.05s;
      }

      & span {
        transition: width 0.3s, #{$direction} 0.3s 0.05s;
      }

      &:hover {
        & span,
        &:before,
        &:after {
          #{$direction}: $size / 1.414 * -1;
        }
      }
    }
  }
}